<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YTSearch - {{.Query}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h3>Поиск плейлистов в YouTube</h3>
      <h4>{{.Query}}</h4>

      <div class="row">
        {{range .Items}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="https://www.youtube.com/playlist?list={{.ID}}">
              <img src="{{.ThumbURL}}" alt="{{.Title}}"/>
            </a>
            <div class="caption">
              <h4>{{.Title}}</h4>
              <p>{{.Description}}</p>
              <p><a href="https://www.youtube.com/channel/{{.ChannelID}}" class="btn btn-default">{{.ChannelTitle}}</a></p>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
