<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>YTSearch</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/open-iconic-bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
          integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
          integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
          crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="/favicon.png"/>
</head>

<body>
<div class="container">
  <h3>Поиск плейлистов в YouTube</h3>

  <form action="q" method="post">
    <div class="form-group">
      <label for="InputQ">Запрос</label>
      <input type="text" name="query" placeholder="Запрос" class="form-control">
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="order" value="relevance" checked> Актуальность
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="order" value="date"> Дата
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="order" value="rating"> Рейтинг
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="type" value="playlist" checked> Плейлист
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="type" value="video"> Видео
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="LanguageQ">Язык "ru"</label>
      <input type="text" name="language" placeholder="ru" class="form-control" value="ru">
    </div>
    <div class="form-group">
      <label for="InputChan">ID канала</label>
      <input id="channelID" type="text" name="channelID" placeholder="Оставте пустым если не используется"
             class="form-control">
    </div>

    <button type="submit" name="button" class="btn btn-outline-primary">Найти</button>
  </form>
  <hr/>
  <div class="row">
    {{range $index, $ := .}} {{if split $index 6}}
    <div class="clearfix d-none d-sm-block"></div>
    {{end}}
    <div class="col-md-2">
      <div class="card">
        <a class="channel-delete" href="/channeldelete?channelid={{.ChannelID}}"
           onclick="return confirm('Вы уверены в удалении канала {{.Title}}?')">
          <span class="oi oi-x" title="Channel Delete" aria-hidden="true"></span>
        </a>
        <div class="channel-paste" info="{{.ChannelID}}">
          <span class="oi oi-pencil" title="Channel Paste" aria-hidden="true"></span>
        </div>
        <a href="https://www.youtube.com/channel/{{.ChannelID}}">
          <img class="card-img-top" src="{{.ThumbURL}}" alt="{{.Title}}"/>
        </a>
        <div class="card-body">
          <a href="https://www.youtube.com/channel/{{.ChannelID}}">
            <h5 class="card-title">{{.Title}}</h5>
          </a>
          <div class="dropdown">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="last-video"
                    data-toggle="dropdown"
                    area-haspopup="true" area-expanded="false">
              Последние
            </button>
            <div class="dropdown-menu" aria-labelledby="last-video">
              <a class="dropdown-item" href="/q?query=&order=date&type=video&channelID={{.ChannelID}}&button=">Видео</a>
              <a class="dropdown-item" href="/q?query=&order=date&type=playlist&channelID={{.ChannelID}}&button=">Плейлисты</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{end}}
  </div>
  <hr/>
  <h3>Добавить канал</h3>
  <form action="channeladd" method="post">
    <div class="form-group">
      <label for="InputID">ID Канала</label>
      <input type="text" name="channel_id" placeholder="ID канала для добавления в БД" class="form-control">
    </div>

    <button type="submit" name="button" class="btn btn-outline-primary">Добавить</button>
  </form>
  <hr/>
  <footer>
    <p>&copy;DeKoniX 2017</p>
  </footer>
</div>
<div class="scrollup">
  <span class="oi oi-arrow-top" aria-hidden="true"></span>
</div>
</body>
<script type="text/javascript" src="/static/js/index.js"></script>

</html>
